* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: arial sans-serif;
    color: #242423;
}
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #14213d;

}
h1 {
    margin: 10px;
    font-size: 25px;
    color: whitesmoke;
}
button {
    cursor: pointer;
    padding: 15px;
    font-size: 20px;
    font-weight: bold;
    color: #242423;
    border: 2px solid #242423;
    background-color: #FCA311;

}
label {
    margin: 5px ;
}
input {
    width: 15vw;
    padding: 5px;
    margin: 0 10px;
    font-size: 15px;
}
input[type=number]{
    width: 5vw;
}
.wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #e5e5e5;
    width: 90vw;
    min-height: 90%;
    padding: 50px;
}
.fields {
    display: flex;
    flex-direction: column;
}
.search{
    transition: .2s;
}
.search:hover{
    filter: brightness(0.8);
}
.left {
    width: 65%;
    flex: 1;
}
.right{

    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    /*align-items: center;*/
    width: 35%;
    flex: 1;
}
.right div {
    margin-top: 15px;
}
.right div b{
    font-size: 25px;
}
.result{
    list-style: none;
    align-self: self-start;
}
.remove {
    background-color: transparent;
    border: none;
}
.item{
    display: flex;
    align-items: center;
}
nav {
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 100px;
}
td , th {
    padding: 5px;
    color: #242423;
    background-color: #FCA311;
    margin: 0;
}
tr{
    border: 1px solid #14213d;
}
th {
background-color: #242423;
    color: whitesmoke;
}
h2 {
    margin: 15px 0;
}